<div class="bs-component-custom" data-block="{{ b.name }}">
  <span class="comp-custom-heading">{{ a.hero_heading }}</span>
  <span class="comp-custom-description">{{ a.hero_description }}</span>
</div>
